<div class="form-book-tour">
	<div class="wrapper">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12 tour-info">
				<div class="tour tour-id">
					<h4>Tour Ninh Bình: Tràng An – Bái Đính – Đầm Vân Long 2 ngày 1 đêm</h4>
					<p><span>Thời gian: </span> <strong>2 ngày 1 đêm</strong></p>
					<p><span>Giá người lớn: </span> <strong>1,710,000đ</strong></p>
					<p><span>Giá trẻ em: </span> <strong>0đ</strong></p>
				</div>
				<!-- /.tour -->
				<div class="tour-customize">
					<!-- Customize -->
					<h4>Đang customize ...</h4>
				</div>
				<!-- /.tour-customize -->

				<div class="tour-sum">
					<div class="list-sum">
						<div class="item">
							<label for="sum">Tổng cộng</label>
							<div class="price_sum">1,710,000đ</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.tour-info -->
			<div class="col-lg-6 col-md-6 col-xs-12 tour-contact-customer">
				<div class="form-group">
					<label for="">Họ tên người đặt tour</label>
					[text* your-fullname placeholder "Họ tên người đặt tour"]
				</div>

				<div class="form-group">
					<label for="">Email</label>
					[email* your-email placeholder "Email"]
				</div>

				<div class="form-group">
					<label for="">Số điện thoại</label>
					[text* your-phone placeholder "Số điện thoại"]
				</div>

				<div class="form-group">
					<label for="">Yêu cầu đặc biệt</label>
					[textarea your-issule-special placeholder "Yêu cầu đặc biệt"]
				</div>

				<div class="form-group">
					<label for="">Quý khách vui lòng chọn hình thức thanh toán</label>
					[radio your-checkout-choose "Chuyển khoản ngân hàng" "T.Toán bằng thẻ JCB qua Ngân Lượng (giảm ngay 10%)" "Đến văn phòng"]
				</div>
				<div class="form-group button-submit">
					<div class="btn-sm"><button onclick="window.location = '/';">Quay lại</button></div>
					<div class="btn-sm">[submit "Đặt Tour"]</div>
				</div>
			</div>
			<!-- /.tour-contact-customer -->
		</div>
	</div>
</div>
<!-- /.form-book-tour -->