@charset "utf-8";
/* =======================================
 - Archive Template 
========================================== */
/* 1. List layout */
a {
    color: #337ab7;
    text-decoration: none;
}
.fl-page-content {
    background-color: #f0f3f6 !important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#list-layout {}
.grid-layout , .list-layout  {
    margin: 0; padding: 0; border: none;
}
.fl-archive-title {
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px #eee;
    margin: 0 0px 20px;
    color: #02a0d4;
    text-align: center;
    font-size: 24px;
    padding-top: 8px;
}
.grid-layout .article-tour ,
.list-layout .article-tour {
    display: block;
    overflow: hidden;
    border-radius: 2px;
    background: #FFF;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px #E9EBEE;
}
.list-layout .article-tour .thumbnail-media{
    width: 30%;
    float: left;
    height: auto;
}
.grid-layout .article-tour .thumbnail-media a,
.list-layout .article-tour .thumbnail-media a{
    color: #337ab7;
    text-decoration: none;
}
.grid-layout .article-tour .thumbnail-media img,
.list-layout .article-tour .thumbnail-media img{
    width: 100%;
    height: auto;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.grid-layout .article-tour .thumbnail-body,
.list-layout .article-tour .thumbnail-body{
    display: block;
}
.grid-layout .article-tour .thumbnail-body .tour-title,
.list-layout .article-tour .thumbnail-body .tour-title{
    float: left;
    height: 65px;
    width: 68%;
    margin-left: 2%;
    border-bottom: 1px solid #EEE;
}
.grid-layout .article-tour .thumbnail-body .tour-title h2,
.list-layout .article-tour .thumbnail-body .tour-title h2{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    line-height: 0;
}
.grid-layout .article-tour .thumbnail-body > .tour-title > h2 > a,
.list-layout .article-tour .thumbnail-body > .tour-title > h2 > a{
    font-size: 20px;
    color: #02a0d4;
    line-height: 1.733;
    font-weight: bold;
    text-decoration: none;
}
.list-layout .article-tour .thumbnail-body > .tour-title > h2 > a:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 50px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 65%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(65%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 65%, #ffffff 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 65%, #ffffff 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 65%, #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 65%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}
.list-layout .article-tour .thumbnail-body .meta-info{
    float: left;
    font-size: 13px;
    color: #AAA;
}
.list-layout .article-tour .thumbnail-body .meta-info a { text-decoration: none; }
.list-layout .article-tour .thumbnail-body .meta-info .tour-cat{}
.list-layout .article-tour .thumbnail-body .meta-info .tour-time{}
.list-layout .article-tour .thumbnail-body .meta-info .star{
    display: inline;
    color: #d46002;
}

.list-layout .article-tour .thumbnail-body .tour-info{
    float: left;
    width: 67%;
    margin-left: 2%;
}
.list-layout .article-tour .tour-info .excrept-box{
    border-right: 1px solid #EEE;
    margin-left: 0;
    float: left;
    text-align: justify;
    width: 70%;
    padding-right: 20px;
}
.grid-layout .article-tour .tour-info .excrept-box p
.list-layout .article-tour .tour-info .excrept-box p{
    font-size: 13px;
    color: #777;
    padding-top: 10px;
}
.grid-layout .article-tour .tour-info .excrept-box .accompanied_service i ,
.list-layout .article-tour .tour-info .excrept-box .accompanied_service i{
    background: #DADADA;
    color: #FFF;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 13px;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}
.grid-layout .article-tour .tour-info .excrept-box .accompanied_service i:hover ,
.list-layout .article-tour .tour-info .excrept-box .accompanied_service i:hover {
    background-color: #02A0D4;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}
.grid-layout .article-tour .tour-info .excrept-box .accompanied_service span,
.list-layout .article-tour .tour-info .excrept-box .accompanied_service span{
    display: none;
}

.list-layout .article-tour .tour-info .price-box {
    width: 30%;
    text-align: center;
    float: left;
}
.grid-layout .article-tour .tour-info .price-box .price,
.list-layout .article-tour .tour-info .price-box .price{
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 0;
    text-align: center;
    color: #d46002;
}
.grid-layout .article-tour .tour-info .price-box a.btn-add-tour ,
.list-layout .article-tour .tour-info .price-box a.btn-add-tour{
    background: #62c626;
    width: 107px;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
    border-bottom: 2px solid green;
    text-decoration: none;
}











/* 2. Grid layout */
.grid-layout .article-tour .thumbnail-body { padding: 20px; }
.grid-layout .article-tour .thumbnail-body .tour-title h2 { white-space: normal; }
.grid-layout .article-tour .thumbnail-body .tour-title { width: 100%; float: none; margin: 0; height: auto; }
.grid-layout .article-tour .tour-info .price-box { text-align: center; }
.grid-layout .article-tour .thumbnail-body .accompanied_service { text-align: center; }

/* 2. Overplay layout */
.overlay-layout { padding: 0 !important; margin: 0 15px; border: none; }
.overlay-layout .post-thumbnail-wrap {
    padding: 0px 0px 0px 0px;
}

.overlay-layout .post-thumbnail-wrap {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
}
.overlay-layout .post-thumbnail, .post-thumbnail-rollover {
    position: relative;
    display: block;
}
.post-thumbnail-rollover {
    line-height: 0;
    overflow: hidden;
}
.post-thumbnail>.post-thumbnail-rollover img {
    -webkit-transition: -webkit-transform .3s ease-out,opacity .35s;
    transition: transform .3s ease-out,opacity .35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.post-thumbnail-rollover:after {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.post-thumbnail:not(.overlay-placeholder)>.post-thumbnail-rollover img {
    width: 100%;
}
.post-entry-content {
    background: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
.content-rollover-layout-list .post-entry-content {
    top: 0;
    height: 100%;
    overflow-y: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.content-rollover-layout-list .post-entry-content {
    background: none;
    padding: 0;
}
.content-rollover-layout-list .post-entry-content:before {
    background: rgba(0,0,0,0.8);
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 65%,rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 65%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 65%,rgba(0,0,0,0.8) 100%);
}

.content-bg-on.content-rollover-layout-list .post-entry-content:before {
    background: #f7f7f7;
    background: -moz-linear-gradient(top,rgba(247,247,247,0) 0%,#f7f7f7 65%,#f7f7f7 100%);
    background: -webkit-linear-gradient(top,rgba(247,247,247,0) 0%,#f7f7f7 65%,#f7f7f7 100%);
    background: linear-gradient(to bottom,rgba(247,247,247,0) 0%,#f7f7f7 65%,#f7f7f7 100%);
}
.content-rollover-layout-list .post-entry-content .post-entry-wrapper, .content-rollover-layout-list .post-entry-content:before {
    -webkit-transition: opacity .35s,bottom .35s,-webkit-transform .4s;
    transition: opacity .35s,bottom .35s,transform .4s;
}
.content-rollover-layout-list .post-entry-content:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    content: '';
    -webkit-transform: translate3d(0,35%,0);
    transform: translate3d(0,35%,0);
}
.blog-shortcode.blog-masonry-shortcode-id-1.content-rollover-layout-list article:not(.description-off) .post-entry-wrapper {
    bottom: -17px;
}
.content-rollover-layout-list .post-entry-content .post-entry-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.entry-title {
    margin-bottom: 2px;
    font-size: 22px;
    line-height: 30px;
 }
.entry-title a {
    color: #ffffff;
}
.entry-meta {
    margin-bottom: 12px;
}
.entry-meta * {
    font-size: 11px;
    line-height: 20px;
    color: #1ebbf0;
    font-style: ;
    font-weight: bold;
    text-transform: uppercase;
}
.entry-excerpt {
    font-size: 14px;
    line-height: 25px;
}


.content-rollover-layout-list .post-entry-wrapper {
    padding: 0px 30px 25px 30px;
}
.entry-excerpt p { color: #fff; }

.post-entry-wrapper {
    bottom: -17px;
}
/* =======================================
 - Single Template 
========================================== */
body { background: #f2f2f2; }
#single-tour-layout {  }

.single-body-tour {
  background: #f0f3f6;
  margin: 20px 0;
}
/* Single header tour */
.single-header-tour {}
.single-header-tour .tour-title{}
.single-header-tour .tour-title h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #02a0d4;
    position: relative;
    border-bottom: 1px #ccc solid;
    padding-bottom: 9px;
}
.single-header-tour .tour-title h1:after {
    display: block;
    content: "";
    width: 80px;
    height: 3px;
    background: #02a0d4;
    position: absolute;
    bottom: 0;
}
.single-header-tour .thumbnail-media {
    display: block;
    overflow: hidden;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
}
.single-header-tour .thumbnail-media a{}
.single-header-tour .thumbnail-media img{
    width: 100%;
    height: auto;
}

.single-body-tour .tab {
    transition: all ease .3s;
    font-family: 'Roboto', sans-serif;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px 15px;
  float: left;
  margin: 0px 5px;
  cursor: pointer;
}
.single-body-tour .tab-content {
    transition: all ease .3s;
  background: #FFF;
  margin: 0px 0px 20px 0px;
  padding: 15px;
  color: #333;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
.single-body-tour .tab-content p {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
.single-body-tour .main p img {
  margin: 10px 0px;
}
.single-body-tour .tab-content h3 {
  color: #ff8400;
  font-size: 16px;
  margin-top: 20px;
}
.single-body-tour .tab-content h4 {
  font-size: 16px;
  color: #333;
}
.single-body-tour .tab-content .line {
  width: 680px;
  border-top: 1px solid #CCC;
  margin: 10px 0px;
}
.single-body-tour .tab-content .icon {
  font-size: 18px;
  background: #02a0d4;
  color: #FFF;
  padding: 7px;
  border-radius: 2px;
}
.single-body-tour .tab-content .content {
  display: none;
}
.single-body-tour .tab-content .btn-green {
  width: 329px;
  background: #62c626;
  margin: 20px 10px;
  color: #fff;
  padding: 10px 5px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.single-body-tour .tab-content .btn-blue {
  width: 329px;
  background: #02a0d4;
  margin: 20px 10px;
  color: #fff;
  padding: 10px 5px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 2px solid blue;
  cursor: pointer;
}

/* TAB Tour */

.tab-tour {
    display: block;
    overflow: hidden;
    padding: 0;
    border-bottom: 3px solid #02a0d4;
}
.tab-tour .tab {
  background: white;
  color: black;
  font-weight: bold;
}
.tab-tour .tab:nth-child(1) {
  margin-left: 0 !important;
}
.tab-tour .tab.select {
  color: white;
  background: #02a0d4;
}
.is-sticky > .tab-tour{
    /* Trừ đi menu mt:  45px; */
  margin-top: 90px;
  z-index: 1;
  background-color: #F0F3F6;
  width: 768px;
}

/* #right-sidebar */
#right-sidebar .pintab .tour-info {
    background: #fff;
    border-radius: 2px;
    font-size: 13px;
    z-index: 9999;
}
#right-sidebar .pintab .tour-info h2{
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 15px;
    background: #02a0d4;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
#right-sidebar .pintab .tour-info .list-info{
    padding: 0 15px 15px;
}
#right-sidebar .pintab .tour-info .list-info .item{
    padding: 5px 0px 25px 0px;
    border-bottom: 1px solid #DDD;
    clear: both;
}
#right-sidebar .pintab .tour-info .list-info .item label{
    float: left;
    color: #444;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
#right-sidebar .pintab .tour-info .list-info .item a{
    float: right;
    color: #02a0d4;
    text-decoration: none;
}
#right-sidebar .pintab .tour-info .list-info .star{}
#right-sidebar .pintab .tour-info label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/* =======================================
 - Booking Tour Template 
========================================== */
#booking-tour-form {
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 1px 2px #4c81b0;
  -moz-box-shadow: 0 2px 1px #4c81b0;
  box-shadow: 0 2px 1px #4c81b0;
  border-radius: 10px;
}
/* Tour info style */
.form-book-tour .tour-info{}

/* Tour contact customer */
.form-book-tour .tour-contact-customer{}
.form-book-tour .tour-contact-customer label{
  display: block;
}
.form-book-tour .tour-contact-customer input[type="text"],
.form-book-tour .tour-contact-customer textarea{
  width: 100%;
  max-width: 100%;
}
.form-book-tour .tour-contact-customer .button-submit {
  display: block;
  width: 100%;
}
.form-book-tour .tour-contact-customer .button-submit .btn-sm{
  display: inline;
  padding: 0 !important;
  font-size: inherit;
}

