<link rel="stylesheet" href="style.css">
<div id="list-tour-layout">
	<div class="wrapper">
		<div class="row">
			<div class="col-xs-12">
				<div class="article-tour">
					<div class="thumbnail-media">
						<a rel="nofollow" href="#18723-tour-han-quoc-seoul-nami-everland-drumcat-show-5-ngay-4-dem.html" title="Tour Hàn Quốc: Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm"><img src="./tour-han-quoc-pys-travel-216x185.png" alt="Hình"></a>
					</div>
					<!-- /.thumbnail-media -->
					<div class="thumbnail-body">
						<header class="tour-title"><h2><a rel="nofollow" href="#18723-tour-han-quoc-seoul-nami-everland-drumcat-show-5-ngay-4-dem.html" title="Tour Hàn Quốc: Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm">Tour Hàn Quốc: Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm</a></h2>

						<div class="meta-info">
							<span class="tour-cat"><a href="/han-quoc">Hàn Quốc</a></span> -
							<span class="tour-time"><a href="/han-quoc">5 ngày 3 đêm</a></span> -
							<div class="star">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
						</header>
						<div class="tour-info">
							<div class="excrept-box">
								<p>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến ...</p>
								<div class="accompanied_service">
									<i class="fa fa-check"></i> <span>Bảo hiểm</span>
									<i class="fa fa-street-view"></i> <span>Hướng dẫn viên</span>
									<i class="fa fa-car"></i><span> Xe đưa đón</span>
									<i class="fa fa-ticket"></i> <span>Vé tham quan</span>
								</div>
							</div>
							<!-- /.excrept-left -->
							<div class="price-box">
								<div class="price">69.696.000 <span>VNĐ</span></div>
								<a href="/dat-tour?id=6969" class="btn btn-add-tour">Đặt Tour <i class="icon fa fa-chevron-right"></i></a>
							</div>
						</div>
						<!-- /.meta-tour-info -->
					</div> 
					<!-- /.thumbnail-body -->
				</div> 
				<!-- /.article-tour -->
			</div>
		</div>
	</div>
</div>
<!-- /#list-tour-layout -->