<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://stickyjs.com/jquery.sticky.js"></script>
<div class="container">
	<div class="row">
		<div class="col-xs-9">
		<div id="single-tour-layout">
			<div class="single-header-tour">
				<header class="tour-title">
					<h1>Tour Hàn Quốc: Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm</h1>
				</header>
				<div class="thumbnail-media">
					<a href="#18723-tour-han-quoc-seoul-nami-everland-drumcat-show-5-ngay-4-dem.html" title="Tour Hàn Quốc: Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm">
						<img src="tour-han-quoc-pys-travel-708x400.png" alt="Hình">
					</a>
				</div>
			</div>
			<!-- /.thumbnail-media -->
			<div class="single-body-tour">
				<div class="layout-tab-tour">
					<div class="tab-tour">
						<div class="tab select" data-tab="tab1">Giới thiệu chung</div>
						<div class="tab" data-tab="tab2">Lịch trình chi tiết</div>
						<div class="tab" data-tab="tab3">Đánh giá của khách hàng</div>
					</div>

					<div class="tab-content-group">
						<div class="tab-content">
							<div class="content c-tab1" style="display: block">
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
							</div>
							<!-- /.c-tab1 -->
							<div class="content c-tab2">
								<h3>NGÀY 01: HÀ NỘI- SEOUL</h3>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
							</div>
							<!-- /.c-tab2 -->
							<div class="content c-tab3">
								<h3>Quánh giá của KH</h3>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
								<p style="text-align: justify;"><strong>Chắc chắn bạn đang có hẹn với Hàn Quốc tháng 5, 6, ở đất nước đẹp như mơ trong những thước phim lãng mạn, với rất nhiều cảnh đẹp, điểm đến khám phá kỳ thú, nơi có nền văn hóa vô cùng đặc sắc và còn đáp ứng cơn cuồng mua sắm những sản phẩm hấp dẫn, ngay trong Tour Seoul – Nami – Everland – Drumcat Show 5 ngày 4 đêm, giá ưu đãi hấp dẫn mà PYS Travel dành cho bạn.</strong></p>
							</div>
							<!-- /.c-tab3 -->
						</div>
					</div>
				</div>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".single-body-tour .layout-tab-tour .tab").click(function () {
					        var tab = $(this).attr("data-tab");
					        $(this).addClass("select");
					        $(this).siblings().removeClass("select");
					        $(".content").hide();
					        $(".c-" + tab).show();
					    });
					});	
				</script>
				<script>
		        jQuery(document).ready(function ($) {
		            $(".layout-tab-tour .tab-tour").sticky();
		            $(".layout-tab-tour .tab-tour > .tab").click(function () {
		                $('html, body').animate({
		                    scrollTop: $(".layout-tab-tour").offset().top - 55
		                }, 500);
		            });
		        });
		    </script>
	        
				<!-- /.tour-tab -->
				<!-- <div class="tour-info">
					<div class="excrept-box">
						<div class="accompanied_service">
							<i class="fa fa-check"></i> <span>Bảo hiểm</span>
							<i class="fa fa-street-view"></i> <span>Hướng dẫn viên</span>
							<i class="fa fa-car"></i><span> Xe đưa đón</span>
							<i class="fa fa-ticket"></i> <span>Vé tham quan</span>
						</div>
					</div>
					/.excrept-left
					<div class="price-box">
						<div class="price">69.696.000 <span>VNĐ</span></div>
						<a href="/dat-tour?id=6969" class="btn btn-add-tour">Đặt Tour <i class="icon fa fa-chevron-right"></i></a>
					</div>
				</div> -->
					<!-- /.meta-tour-info -->
				</div> 
				<!-- /.thumbnail-body -->
			</div> 
			<!-- /.article-tour -->
		</div>
	<!-- /.left-content -->
	<div class="col-xs-3" id="right-sidebar">
		<div class="pintab-wrapper">
			<div class="pintab">
				<div class="tour-info">
					<h2>Thông tin tour</h2>
					<div class="list-info">
						<div class="item">
							<label for="tour-cat">Điểm đến</label>
							<a href="#diem-dien" title="Điểm đến">Nha Trang</a>
						</div>
						<div class="item">
							<label for="tour-time">Thời gian</label>
							<a rel="nofollow" title="Thời gian">3 ngày 2 đêm</a>
						</div>
						<div class="item">
							<label for="tour-start">Khởi hành</label>
							<a rel="nofollow" title="Khởi hành">T2 & T6 hàng tuần</a>
						</div>
						<div class="item">
							<label for="tour-start">Số sao</label>
							<a rel="nofollow" title="Số sao">
								<div class="star">
			                        <i class="fa fa-star"></i>
			                        <i class="fa fa-star"></i>
			                        <i class="fa fa-star"></i>
			                        <i class="fa fa-star"></i>
			                    </div>
							</a>
						</div>
					</div>
				</div>
				<div class="tour-contact">
					<!-- Show Contact form -->
				</div>
			</div>
		</div>
	</div>

	<!-- /#single-tour-layout -->
	</div>
</div>